:root{
    --background-color:#011f37;
}

.head{
    width: 100vw;
    height: 80px;
    background:linear-gradient(40deg,var(--background-color) 80%,#012d4f  );
}

.head2{
    display:flex;
    flex-direction: row;
}